.center {
    text-align: center;
}

body {
    font-family: monospace;
    background-color: rgb(0, 32, 3) ;
}

h1, h2 {
    color:rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
}
li {
    float: left;
}
  
a {
    display: block;
    padding: 8px;
    background-color: chartreuse;
    color: black;
}

.container {
    justify-content: center;
    display: flex;
}